{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Elválasztás{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="volume">Alszes mennyisége főzés előtt (liter)</label>
    <input type="number" name="volume" id="volume" value="{{ request.form['volume'] }}" required>

    <label for="output">A kívánt alkoholszint eléréséhez szükséges víz mennyisége:</label>
    <textarea name="output" id="output" disabled="disabled">{{ output }}</textarea>

    <input type="submit" value="Számolás">
  </form>
{% endblock %}
